# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* List popular languages for Data Science 
* List popular tools for Data Science
* List popular libraries for Data Science
* Evaluate basic arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|R Studio          |
|Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tien Nguyen